{% extends 'dashboard/auth_base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}

{% block style %}
    <style>
        body{
            background-image: url("{% static 'dashboard/images/auth-bg-reg.jpg' %}");
            background-size: cover;
            background-position: top;
        }
        .register-container {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .register-card {
            width: 100%;
            max-width: 400px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container-fluid register-container">
    <div class="card register-card shadow">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">Register</h4>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ register_form.first_name.label_tag }}
                    {{ register_form.first_name }}
                </div>
                <div class="mb-3">
                    {{ register_form.last_name.label_tag }}
                    {{ register_form.last_name }}
                </div>
                <div class="mb-3">
                    {{ register_form.email.label_tag }}
                    {{ register_form.email }}
                </div>
                <div class="mb-3">
                    {{ register_form.phone.label_tag }}
                    {{ register_form.phone }}
                </div>
                <div class="mb-3">
                    {{ register_form.password.label_tag }}
                    {{ register_form.password }}
                </div>
                <div class="mb-3">
                    {{ register_form.confirm_password.label_tag }}
                    {{ register_form.confirm_password }}
                </div>
                <button type="submit" class="btn wine-btn w-100">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
